# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*

# ==========================
# Variables de entorno
# ==========================
.env
.env.*

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.egg-info/

# ==========================
# ML - Archivos generados
# ==========================
ML/output/dataset.csv
ML/output/*.png
ML/output/metrics.json

# ==========================
# VS Code / IDE
# ==========================
.vscode/
.idea/

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Archivos grandes de BI
# ==========================
BI/*.pbix

# ==========================
# Carpeta duplicada SIS/SIS/
# ==========================
/SIS/
